<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% seo %}
    <link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="wrapper">
        <header>
            <h1><a href="{{ "/" | absolute_url }}">{{ site.title | default: site.github.repository_name }}</a></h1>
            {% if site.logo %}
            <img src="{{site.logo | relative_url}}" alt="Logo" />
            {% endif %}

            <p>{{ site.description | default: site.github.project_tagline }}</p>
        </header>
        <section>

            {{ content }}

        </section>

        <footer>
            {% include search-google.html %}


            {% if site.show_downloads %}
            <ul>
                <li><a href="index.html">home <strong>ZIP File</strong></a></li>
                <li><a href="about.html">about <strong>TAR Ball</strong></a></li>
                <li><a href="{{ site.github.repository_url }}">View On <strong>GitHub</strong></a></li>
            </ul>
            {% endif %}
            {{ site.data.samplelist.docs_list_title }}

            {% for item in site.data.samplelist.docs %}
            <a href="{{ item.url }}">
                <br />
                {{ item.title }}
            </a>
            {% endfor %}
            <br />
            {{ site.data.samplelist2.docs_list_title }}

            {% for item in site.data.samplelist2.docs %}
            <a href="{{ item.url }}">
                <br />
                {{ item.title }}
            </a>
            {% endfor %}
            <br />
            <!-- Begin Mailchimp Signup Form -->
            <link href="//cdn-images.mailchimp.com/embedcode/slim-10_7.css" rel="stylesheet" type="text/css">
            <style type="text/css">
                         #mc_embed_signup {
                             background: #fff;
                             clear: left;
                             font: 14px Helvetica,Arial,sans-serif;
                         }
                         /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
                We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
            </style>
            <div id="mc_embed_signup">
                <form action="https://selaba-biz.us7.list-manage.com/subscribe/post?u=b6cc0db60ef84e726662af44c&amp;id=2bbc89f136" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                        <label for="mce-EMAIL">Newsletter sign up</label>
                        <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b6cc0db60ef84e726662af44c_2bbc89f136" tabindex="-1" value=""></div>
                        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                    </div>
                </form>
            </div>

            <!--End mc_embed_signup-->
            <br />
            <p><small>Hosted on GitHub Pages &mdash; Theme by <a href="https://github.com/orderedlist">orderedlist</a></small></p>
        </footer>
    </div>
    <script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
    {% if site.google_analytics %}
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
      ga('create', '{{ site.google_analytics }}', 'auto');
      ga('send', 'pageview');
    </script>
    {% endif %}
    {% include follow-buttons.html %}
</body>
</html>
